.side-nav {
    height: calc(100vh - 58px);
    background: #e9ecef;
}

tbody > tr:hover {
    background-color: lightblue;
    cursor: crosshair;
}

.chart {
    width: 100%;
    height: calc(100vh - 120px);
    padding: 1em;
    cursor: crosshair;
}

iframe {
    width: 100%;
    height: calc(100vh - 120px);
    border: 0;
}

#linechart {
    width: 100%;
}

tbody > tr > th {
    text-align: right !important;
}

td {
    border-left: 0.2em solid black;
}

tr.selected > th {
    background-color: rgb(206, 250, 206);
    border-right: 0.0em solid transparent;
}
tr.selected > td {
    background: white;
}

/* tr.selected > td {
    border-left: 0.2em solid transparent;
} */